<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="com.example.app1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        tools:node="remove" />
    <uses-feature android:name="android.hardware.sensor.stepcounter" />
    <uses-feature android:name="android.hardware.sensor.stepdetector" />
    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="true" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <application
        android:name=".Activity"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="Fitness Center"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".StepCounter.StepDetectorActivity" />
        <activity android:name=".StopWatch.StopWatch" />
        <activity android:name=".Exercise.CardView" />
        <activity android:name=".FoodDiary.NewFoodForm"></activity>
        <activity android:name=".Login_Logout.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login_Logout.Register" />
        <activity android:name=".Main" />

        <service android:name=".StepCounter.StepCountingService"></service>
    </application>

</manifest>